.companybackgroud {
  background-color: #f5f6f7;
  margin-top: 10px;
}

.companytitle {
  color: #663333;
  font-family: Palatino Linotype, sans-serif;
  font-size: 2rem;
  margin: 20px 0 20px;
  text-align:center;
}

.companyparagraph{
text-align: center;
}

.fore-color:hover {
  color: white;
}

.giphy-embed{
  width: 100%
}

.head-about-us {
  color: #663333;
}

.maroon {
  background-color: #663333;
  height: 400px;
}

.maroon-est {
  background-color: #663333;
  height: 400px;
}

.maroon-content {
  color: white;
  font-family: Palatino Linotype, sans-serif;
  font-size: 2.5rem;
  text-align: left;
  padding-left: 1rem;
  padding-top: 1.8rem;
}

.maroon-content-est {
  color: white;
  font-family: Palatino Linotype, sans-serif;
  font-size: 3rem;
  text-align: right;
}

.navbar-brand {
  font-family: Palatino Linotype, sans-serif;
}

.nav-link {
  font-family: Palatino Linotype, sans-serif;
}

.nav-link:hover {
  border-radius: 8px;
  background-color: red;
}

.logo {
  height: 30px;
  width: 30px;
}

.white {
  background-color: white;
  height: 400px;
}

.white-about-us {
  font-family: Palatino Linotype, serif;
  font-size: 1.4rem;
  padding-right: 1rem;
  padding-top: 0;
  margin-top: 0;
}

.white-content {
  color: #663333;
  font-family: Palatino Linotype, serif;
  font-size: 2.5rem;
  text-align: right;
  padding-right: 1rem;
  padding-top: 1.8rem;
}

hr {
  margin: 0;
}

p {
  font-family: Montserrat, sans-serif;
}
